.promotion-content-service{
    padding: 3%;
    height: 100%;
    text-align: center;
}
.promotions-title{
    margin-bottom: 5rem;
    font-size: 5rem !important;
    color: white;
}
.types-promotions-service-content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
}
