
/* mision valores */
.about-content-etic{
height: 30%;    
/* border: 1px solid blue; */
background-image: url('../../assets/imgs/backgrounds/Etica.png');
background-repeat: no-repeat;
background-size: cover;
background-color: black;
}

/*Preguntas frecuentes */
.frequents-questions-content{
height: 23%;
/* border: 1px solid blue; */
}
.content-about-marcas{
height: 47%;
/* border: 1px solid blue; */
background-image: url('../../assets/imgs/backgrounds/about_marcas.png');
background-repeat: no-repeat;
background-size:contain;
background-color: var(--primary-b-black);
}



