.separator{
    border: 1px solid var(--primary-griss);
    margin: 1rem;
}

.interrumped{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 1vh;
   div{
    padding-inline: 1vh;
    height: 0.2rem;
    margin-inline: 2px;
   }
}
.default-color{
      background-color: var(--primary-griss); 
}