
.content-comments{

height: 100%;
width: auto;
background-color: var(--primary-b-black);
display: flex;
flex-direction: column;
flex: 0 1 100%;
align-items: center;

}

.content-comments > img.cc-item {
width: 85%;
padding: 3%;
}
.content-comments > div.carousel-coments{
/* background-color: rgb(4, 15, 24); */
height: 100%;
}
li.cc-item {
display: flex;
flex-direction: row;
gap: 15px;
justify-content: center;
}

.content-comments >li.cc-item > div {

background-color: black;
}
