.component-service{
    padding: 0.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-description{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;      /* 16px aprox */
    font-weight: 400;
    color: #111;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 1.2rem;
}
.s-d-comments{
    color: #000;
    font-style: italic;
    font-weight: 800;
    padding: 0.5rem 1rem;
    background: rgba(0,0,0,0.03);
    border-radius: 8px;
}

