.component-service{
    padding: 0.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-description{
    line-height: normal;
    text-align: center;
    font-size:15px;
       /* border: 1px solid black; */
}
.s-d-comments{
    font-style: oblique;
    font-weight: 700;
    letter-spacing: 0.2px;
    /* border: 1px solid black; */
}

