.s-title-type-service{
    padding: 1%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 30px;
}
.boda-border{
border: 1px solid  var(--segondary-bwo-beich);
color: var(--segondary-bwo-beich);
}
.party-border{
border: 1px solid  var(--segondary-sky-b);
color: var(--segondary-sky-b);
}
.shows-border{
border: 1px solid  var(--segondary-pink);
color: var(--segondary-pink);
}