.s-title-type-service{
    padding: 1%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 80px;
}
.kanut-boda-border{
border: 1px solid  var(--primary-b-black);
color: var(--segondary-bwo-beich);
}
.kanut-party-border{
border: 1px solid  var(--primary-b-sky);
color: var(--segondary-bwo-beich);
}
.kanut-shows-border{
border: 1px solid  var(--segondary-sky-b);
color: var(--segondary-pink);
}