.content-service{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}
.content-image-service{
height: 20%;
.content-image-service img {
    width: 100%;
}
}
.content-grid-galery-service{
    height: 80%;
}
.content-grid-galery-service p {
    font-size: large;
    text-align: justify;
}
.title-service-content{
   height: 20%;
   /* border: 1px solid black; */
   padding: 5%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   h2{
    font-size: 5rem !important;
   }
}
.title-service{
width: 20%;
padding: 0.5%;
}
.galery-container{
    border: 1px solid darkblue;
    height: 80%;
    padding: 0;
    background-color: darkcyan;
    position: relative;
}
