.history{
    height: 100vh;
    background-color: rgb(164, 130, 130);
    color: aliceblue;
    text-align: center;
}

.history-point{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
}
.item-title-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid darkblue; */
    height: 15%;
}
.item-content-video-player{
    /* border: 1px solid #000922; */
    display: flex;
    flex-direction: row;
    gap: 3%;
    flex: 1 0 90%;
    padding: 1%;
}
.item-service-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 10%;
    /* border: 1px solid rgb(54, 157, 143); */
}
.item-video{
    background-color: black;
    border: 1px solid rgb(49, 145, 116);
    width: 80%;
    height: 30%;
    margin: 5%;
    border-radius: 20px;
}
.service-details{
    height: 60%;
    width: 100%;
    /* background-color: gray; */
    padding: 1%;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap:2%;
    text-align: center;
}
