/* codigos de colores para el servicio de kanut-boda */

/* 
Codigo de colores para uso segundario 
----------------------------------------
@Corparation KANUT--ENTERPRICE-2026 
----------------------------------------
codigo de colores de uso interno segun brand 
*/

:root{
--kanut-boda-red:#71141F;
--kanut-boda-beich:#FFFAE7;
--kanut-boda-orange:#D99B66;
}