:root{
  --size :stretch; ;
  --default-size :100%;
  --time-animate:0.2s;
}
.galery-item{
 display: inline-block;
 cursor: pointer;
 transition: padding var(--time-animate) ease;
}
.cover{
    object-fit: cover;
}
.countain{
object-fit: contain;
}
.galery-item:hover{
    padding: 3px;
}
.sm{
     height:var(--size);
     width: var(--default-size); 
}
.md{
    height:var(--default-size);;
    width: 80vh; 
}
.lg{
    height:100vh;
    width: var(--default-size);; 
}

