.p-content-service{
    height: 100%;
}
.c-s-interface-service{
    border: 1px solid blanchedalmond;
    height: 10%;
}
.c-s-details-service{
    height:90%;
}
.d-s-information-service {
    /* border: 1px solid rgb(0, 0, 0); */
    height:15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.d-s-galery-service{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(0, 0, 0); */
    height:50%;
}
.d-s-content-galery-service{
    height:100%;
    display: grid;
    grid-template-columns: repeat(2,minmax(2rem,1fr));
    padding: 5%;
   gap: 0.3rem;
    
}

.d-s-promotions-service {
     /* border: 1px solid blanchedalmond;
     border: 1px solid rgb(0, 0, 0); */
     height:35%;
}
