/*
Codigo de colores para uso principal 
----------------------------------------
@Corparation KANUT--ENTERPRICE-2026 
----------------------------------------
codigo de colores de uso interno segun brand 

*/

:root{
--primary-griss:#666666;
--primary-b-sky:#1948bc;
--primary-b-marine:#191f6d;
--primary-b:#002365;
--primary-w:#fffbe7;
--primary-b-black:#000a23;
--btn-wsp : #24D266;
--blue:#1F4DBD;

}