/*
Codigo de colores para uso segundario 
----------------------------------------
@Corparation KANUT--ENTERPRICE-2026 
----------------------------------------
codigo de colores de uso interno segun brand 

*/
:root{
--segondary-gold : #FF940A;
--segondary-g-phamtom:#1948bc;
--segondary-bwn-red:#A44819;
--segondary-bwo-beich:#CE8A39;
--segondary-orange:#C77408;
--segondary-pink:#EC1864;
--segondary-sky-b:#31AFC8;
--segondary-or:#fffbe7;
--text-description:#686464;
--segondary-green-gray:#7E8952;
--segondary-blue-marine:#002264;
--gray-white:#F1F4F8;
--background-gray--service:#595E6A;
--background-gray-galery:#808080;
--black-text: rgb(55 43 43 / 75%);


/* codigos de servicios --- */
--kanut-service-boda:var(--segondary-bwo-beich);
--text-boda:var(--black-text);
--kanut-service-shows:var(--segondary-sky-b);
--text-shows:var(--black-text);
--kanut-service-party:var(--segondary-blue-marine);
--text-party:var(--gray-white);
--color-input:#f8f8f8;
}