.input-container-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input-label {
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
  color:var(--text-description);
  cursor: pointer;
}

.required-star {
  color:var(--segondary-pink);
  margin-left: 2px;
}

.custom-input-line {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.8%;
  outline: none;
  font-size: medium;
  background: transparent;
  height: auto; 
  cursor: pointer;
}

.custom-input-line:focus {
  border-bottom: 2px solid var(--primary-b-sky);
}
