
.c-d-s-item {
    height: auto;
    /* border: 1px solid darkblue; */
}
.carousel-history {   
    display: flex;
    flex-direction: column;
    height: 200vh; 
}
.c-h-item{
    /* border: 1px solid rgb(4, 4, 12); */
    height: 160%;
}


.history{
    height: 180%;
    background-color: rgb(164, 130, 130);
    color: aliceblue;
    text-align: center;
}
.about-section{
height: 130vh;
}

.portfolio-section{
height: 120vh;
}
.comments-section{
height: 120vh;
display: flex;
}