
.carousel-history {   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about-section{
height: 130vh;
}

.portfolio-section{
height: 150vh;
max-height: 170vh;
}
.comments-section{
height: 125vh;
display: flex;
}

.free-content{
    position: absolute;
    bottom: 30%;
    /* left: 40%;
    right: 40%; */
}