    .item-grid-galery{
        height: 520px;
    }
    .content-marcas{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem;
        gap: 2rem;
        position: relative;
    }

    /* ========================= */
    /* ESPACIO SUPERIOR */
    /* ========================= */

    .empty-space{
        height: 250px;
    }
/* ================================================*
 =================================================0=/

    /* ========================= */
    /* SERVICIOS */
    /* ========================= */

    .types-services-marcas{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}
.c-m-item-service{
    flex: 1;
    min-height: 260px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #999090;
    border-radius: 16px;

    position: relative;

    transition: .3s ease;
    cursor: pointer;
}

.c-m-item-service::before{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 50px;
    height: 50px;
    background: #000922; /* color del fondo */
    border-radius: 50% 50% 10% 10% ;
    opacity: 0;
    transition: .3s ease;
}

.c-m-item-service::after{
    content: '';

    position: absolute;
    bottom: -10px;
    left: 50%;

    transform: translateX(-50%) scale(0);

    width: 28px;
    height: 28px;

    background: white;
    border-radius: 50%;

    opacity: 0;
    transition: .3s ease;
}

.c-m-item-service:hover{
    background-color: white;
    transform: translateY(-10px);
}

.c-m-item-service:hover::after{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}
.c-m-item-service:hover::before,
.c-m-item-service:hover::after{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.cmi-service{
    width: 180px;
    height: 180px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

    .boda-s{
        background-image: url('../../../assets/imgs/services/Kanut_Boda.png');
    }

    .party-s{
        background-image: url('../../../assets/imgs/services/Kanut_Party.png');
    }

    .shows-s{
        background-image: url('../../../assets/imgs/services/Kanut_Eventos_Shows.png');
    }

    /* ========================= */
    /* DESCRIPCIÓN */
    /* ========================= */

    .description-service{
        display: flex;
        justify-content: center;
    }

    .ds-details{
    max-width: 650px;
    color: white;
    text-align: center;
    font-size: 1.15rem;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: 300;
}

    /* ========================= */
    /* GALERÍA */
    /* ========================= */

    .gallery-images-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }


    .spreat-rows{
        display: flex;
        gap: 10px;
    }

    .spreat-columns{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .item-r{
        width: 50%;
    }

    .item-c{
        height: 50%;
    }

    .spreat-c{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .spreat-r{
        display: flex;
        gap: 10px;
    }

    /* cuadros de galería */

    .spreat-c div,
    .spreat-r div,
    .only-back{
        flex: 1;

        background-color: #3f3f3f;
        border-radius: 10px;

        cursor: pointer;

        transition: .3s ease;
    }

    .spreat-c div:hover,
    .spreat-r div:hover,
    .only-back:hover{
        transform: scale(1.03);
        background-color: #5550e5;
    }

    /* ========================= */
    /* OVERLAY */
    /* ========================= */

    .gallery-overlay{
        position: fixed;
        inset: 0;

        background: rgba(0,0,0,.85);

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1000;
    }

    /* ========================= */
    /* IMAGEN */
    /* ========================= */

    .main-gallery-image{
        width: 70%;
        max-width: 900px;
        max-height: 80vh;

        object-fit: cover;

        border-radius: 16px;

        box-shadow: 0 20px 50px rgba(0,0,0,.5);
    }

    /* ========================= */
    /* FLECHAS */
    /* ========================= */

    .gallery-arrow{
        position: absolute;

        background: transparent;
        border: none;

        color: white;
        font-size: 4rem;

        cursor: pointer;

        transition: .3s ease;
    }

    .gallery-arrow:hover{
        transform: scale(1.2);
    }

    .left{
        left: 4%;
    }

    .right{
        right: 4%;
    }

    /* ========================= */
    /* CERRAR */
    /* ========================= */

    .close-gallery{
        position: absolute;

        top: 2rem;
        right: 2rem;

        border: none;
        background: transparent;

        color: white;
        font-size: 2rem;

        cursor: pointer;

        transition: .3s ease;
    }

    .close-gallery:hover{
        transform: rotate(90deg);
    }