.nav-content{
    position: absolute;
    background-color:var(--segondary-blue-marine-ghost);
    color: var(--gray-white);
    display: flex;
    flex-direction: column;
    top: 100%;
    z-index: 1;
    width: 30vh;
}
.nav-content li {
    border-bottom: 2px solid var(--gray-white);
    margin: 3%;
    font-weight: 100;
    height: 7vh;
    text-align: center;
    transition: color 0.5s ease,
    background-color 0.5s ease,
    margin 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-content li:hover {
    color: var(--segondary-blue-marine-ghost);
    background-color:var(--gray-white) ;
    margin:0;
}
.nav-content li:nth-child(5){
border-bottom: 0cm;
}