.hero-history2{
    width: 100%;
    height: 500px;
}
.hero-history2 img{
    width: 100%;
    height: 100%;
    display:block;
}
.info-history2{
    width: 100%;
    padding: 4rem 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.info-history2 p{
    max-width: 1100px;
    text-align: justify;
    line-height: 1.6;
    color: #444;
    font-size: 1rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.gallery-history2{
    position: relative;
    width: 100%;
    padding-bottom: 5rem;
}
.gallery-wrapper-his2{
    position: relative;
    max-height: 600px; /* muestra solo 2 filas */
    overflow: hidden;
    transition: max-height .5s ease;
}
.gallery-wrapper-his2.expanded{
    max-height: 5000px;
}
.gallery-grid-his2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    width: 90%;
    margin: 0 auto;
}
.gallery-fade-his2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,1)
    );
    pointer-events: none;
}   
.gallery-item-his2{
    height: 280px;
    overflow: hidden;
    background: #000;
}
.gallery-item-his2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
}
.gallery-item-his2:hover img{
    transform: scale(1.05);
}
.gallery-fade-his2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 220px;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,.8),
        rgba(255,255,255,1)
    );

    pointer-events: none;
}
.btn-gallery-his2{
    display: block;
    margin: 2rem auto 0;
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
    background: #f13578;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}
.btn-gallery-his2:hover{
    transform: translateY(-2px);
}