header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 90px;
    padding: 0 2rem;

    background-color: var(--primary-b-black);
    color: white;
}

/* ================= LOGO ================= */

.icon{
    flex: 0 0 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-img{
    width: 100px;
    height: 40px;

    background-image: url('../../assets/imgs/Kanut-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* ================= MENU ================= */

.navbar{
    flex: 1;
    display: flex;
    justify-content: center;
}

.list-options{
    display: flex;
    align-items: center;
    gap: 2rem;

    list-style: none;
    margin: 0;
    padding: 0;
}

.item-list{
    position: relative;

    color: white;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1rem;
    font-weight: 600;

    transition: all .4s ease;
}

/* Hover elegante */

.item-list::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;

    width: 0;
    height: 1px;

    background: rgba(85, 80, 229, 1);

    transform: translateX(-50%);
    transition: all .4s ease;
}

.item-list::after{
    content: '✦';

    position: absolute;
    left: 50%;
    bottom: -18px;

    transform: translateX(-50%);

    opacity: 0;
    font-size: .8rem;

    transition: all .4s ease;
}

.item-list:hover{
    letter-spacing: 2px;
    color: #7875cf;
}

.item-list:hover::before{
    width: 100%;
}

.item-list:hover::after{
    opacity: 1;
    bottom: -12px;
}

/* ================= WHATSAPP ================= */

.btn-whatsap{
    flex: 0 0 50px;

    width: 42px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #25D366;
    border-radius: 50%;

    text-decoration: none;

    transition: .3s ease;
}

.btn-whatsap:hover{
    transform: scale(1.1);
}

.btn-whatsap i{
    color: white;
    font-size: 20px;
}
.item-list:not(.btn-whatsap):hover{
    letter-spacing: 2px;
    color: #f5f5f5;
}