header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 90px;
    padding: 0 2rem;

    background-color: var(--primary-b-black);
    color: white;
}

/* ================= LOGO ================= */

.icon{
    flex: 0 0 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-img{
    width: 100px;
    height: 40px;

    background-image: url('../../assets/imgs/Kanut-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* ================= MENU ================= */

.navbar{
    flex: 1;
    display: flex;
    justify-content: center;
}

.list-options{
    display: flex;
    align-items: center;
    gap: 2rem;

    list-style: none;
    margin: 0;
    padding: 0;
}

.item-list{
    position: relative;

    color: white;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1rem;
    font-weight: 600;

    transition: all .4s ease;
}

/* Hover elegante */

.item-list::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;

    width: 0;
    height: 1px;

    background: rgba(85, 80, 229, 1);

    transform: translateX(-50%);
    transition: all .4s ease;
}

.item-list::after{
    content: '✦';

    position: absolute;
    left: 50%;
    bottom: -18px;

    transform: translateX(-50%);

    opacity: 0;
    font-size: .8rem;

    transition: all .4s ease;
}

.item-list:hover{
    letter-spacing: 2px;
    color: #7875cf;
}

.item-list:hover::before{
    width: 100%;
}

.item-list:hover::after{
    opacity: 1;
    bottom: -12px;
}

/* ================= WHATSAPP ================= */
.btn-whatsap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #25d366;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

/* Hover pro */
.btn-whatsap:hover {
  transform: translateY(-2px) scale(1.05);
  background: #1ebe5d;
  box-shadow: 0 8px 18px rgba(37, 211, 102, 0.35);
}

/* Click */
.btn-whatsap:active {
  transform: scale(10);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Icono centrado */
.btn-whatsap i {
   font-size: 30px; /* antes 20px */
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
