.content-marcas{
    height: 100%;
    padding: 1%;
    position: relative;
}

.empty-space{
    height: 15%;
}

.types-services-marcas{
    display: flex;
    flex-direction: row;
    padding: 1%;
    height: 15%;
    gap: 2%;
}

.c-m-item-service{
    position: relative;
    overflow: visible;

    height: 100%;
    width: 50%;

    border-radius: 16px;

    background-color: #999090;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1%;

    transition: all 0.3s ease;
}

.c-m-item-service:hover{
    background-color: white;
}

.c-m-item-service::before,
.c-m-item-service::after{
    content: '';
    position: absolute;

    opacity: 0;
    transition: all 0.3s ease;
}

.c-m-item-service::before{
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 60px;
    height: 30px;

    background-color: #000c2e;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.c-m-item-service::after{
    bottom: -20px;
    left: 50%;

    transform: translateX(-50%);

    width: 30px;
    height: 30px;

    border-radius: 50%;

    background-color: white;
}

.c-m-item-service:hover::before,
.c-m-item-service:hover::after{
    opacity: 1;
}

.cmi-service{
    background-repeat: no-repeat;
    background-size: contain;

    height: 70%;
    width: 45%;
}

.description-service{
    padding: 2%;
    font-size: large !important;
}

.ds-details{
    color: white !important;
    font-size: larger;
    padding: 2%;
}

.boda-s{
    background-image: url('../../../assets/imgs/services/Kanut_Boda.png');
}

.party-s{
    background-image: url('../../../assets/imgs/services/Kanut_Party.png');
}

.shows-s{
    background-image: url('../../../assets/imgs/services/Kanut_Eventos_Shows.png');
}

/* ========================= */
/* GRID GALLERY */
/* ========================= */

.gallery-images-grid{
    height:60%;

    display: grid;

    grid-template-columns: repeat(2,minmax(2rem,1fr));
    grid-template-rows: repeat(2,minmax(2rem,1fr));

    padding: 3%;

    gap: 5px;
}

.spreat-rows{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.item-r{
    height: 100%;
    width: 50%;
}

.spreat-c{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.spreat-c div{
    background-color: var(--background-gray--service);
    height: 100%;

    cursor: pointer;

    transition: 0.3s ease;
}

.spreat-columns{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-c{
    height: 50%;
}

.spreat-r{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.spreat-r div{
    background-color: var(--background-gray--service);
    width: 100%;

    cursor: pointer;

    transition: 0.3s ease;
}

.only-back{
    background-color: var(--background-gray--service);

    cursor: pointer;

    transition: 0.3s ease;
}

/* Hover cuadros */

.spreat-c div:hover,
.spreat-r div:hover,
.only-back:hover{
    transform: scale(1.03);

    background-color: #3a3a3a;
}

/* ========================= */
/* GALLERY OVERLAY */
/* ========================= */

.gallery-overlay{
    position: absolute;

    top: 45.5%;
    bottom: 45%;
    left: 50%;

    transform: translateX(-50%);

    width: 90%;
    height: 45%;

    

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;

    border-radius: 10px;
}


/* ========================= */
/* IMAGEN PRINCIPAL */
/* ========================= */

.main-gallery-image{
    width: 32%;
    height: 78%;

    object-fit: cover;

    border-radius: 12px;

    box-shadow: 0px 15px 40px rgba(0,0,0,0.55);

    animation: galleryShow 0.25s ease;
}

@keyframes galleryShow{
    from{
        opacity: 0;
        transform: scale(0.9);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* ========================= */
/* FLECHAS */
/* ========================= */

.gallery-arrow{
    position: absolute;

    background: transparent;
    border: none;

    color: white;

    font-size: 5rem;

    cursor: pointer;

    z-index: 1000;

    transition: 0.3s ease;
}

.gallery-arrow:hover{
    transform: scale(1.2);
}

.left{
    left: 3%;
}

.right{
    right: 3%;
}
/* ========================= */
/* BOTON CERRAR */
/* ========================= */

.close-gallery{
    position: absolute;

    top: 3%;
    right: 3%;

    background: transparent;
    border: none;

    color: white;

    font-size: 2rem;

    cursor: pointer;

    z-index: 1001;

    transition: 0.3s ease;
}

.close-gallery:hover{
    transform: rotate(90deg);
}