.contact-section{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 section,div{
   height: 100%; 
   width: 100%;
  }
}

.info-contact{
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  gap: 1.5rem;
  justify-content: center;
}
.item-info{
    display: inline-flex;
    padding: 10px;
    gap: 2rem;
    width: 100%;
    align-items: center;
    img{
      image-rendering: auto;
      width:40px;
      background-size: cover;
    }
    a{
      color: var(--gray-white);
      font-weight: 700;
      text-decoration: none;
      width: 20%;
    }
   
}
.list-numbers{
  color: var(--gray-white);
  font-weight: 700;
}
.complaints-section{
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.claim-big{
  height: 50%;
  width: 50%;
}

@media (max-width: 200vh) {
  .info-contact{
    align-items: center;
    text-align: center;
    flex-direction: row;
  }
  .item-info{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
  .item-info img{
    width: 40px;
  }
  .item-info a{
    width: auto;
  }
  .complaints-section{
    padding: 0.75rem;
  }
  .claim-big{
    width: 100%;
    max-width: 100%;
  }
}
