.about-content{
    /* background-color: brown; */
    height: 100%;
    background-image: url('../../../assets/imgs/backgrounds/about.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.ac-content-title{
    height: 25%;
}

.ac-about-details{
    height: 60%;
    display: flex;
    flex-direction: row;
    flex: 1 0 100%;
    justify-content: center;
}
.ab-item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width:25%;
    /* background-color: slateblue; */
    /* border: 1px solid black; */
    padding: 2%;
}
.details-text{
    width: 50%;
    margin-right: -6%;
    margin-left: -6%;
    margin-top: 1%;
     p{
    color: white !important;
    font-size: 1rem;
}
}

.img-card{
    /* border: 2px solid var(--segondary-g-phamtom); */
    /* background-color: aliceblue; */
    height: 70%;
    width: 60%;
    /* padding: 2%; */
    border-radius: 10px;
    color: white;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-person {
   height: 100%;
   width: 100%;
   border-radius: 5px;
   background-size: contain;
   background-repeat: no-repeat;
}

.img-bootom{
    margin-top: 40%;
}
.daniela{
 background-image: url("../../../assets/imgs/teams/daniel.webp");
}
.elian{
 background-image: url("../../../assets/imgs/teams/elian.webp");
}
.details-person{
   /* ingresar estilo de fuente comentario */
   font-style: oblique;
   margin-top: 15px;
   font-size: small;
}

.ac-footer{
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-show-details{
    width: 40%;
    /* background-color: darkgoldenrod; */
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.ac-btn{
    height: 30% !important; 
    width: 30%;
    font-size: large !important;
    background-color: var(--segondary-pink);
    color: white;
}