:root {
  --border-content: 10px;
  --padding-align: 3rem;
}
.promotion_item__content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  position: relative;
  width: 100%;
}
.section__title_promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
}

.title__promotion {
  font-size: 2rem;
  font-style: oblique;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: var(--border-content);
}

.img-content-type {
  height:25vh;
  width: 50vh;
}
.summary__promotion{
  width: 15rem;
  color: var(--primary-w);
  display: flex;
  flex:  1 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description-promotion {
  text-align: justify;
  color: black;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  border-radius: var(--border-content);
  position: relative;
  min-height: 90rem;
  width: 100%;
  padding: 2.5rem 1rem;
  align-items: normal;
}

.include-title {
  position: absolute;
  top: -1rem;
  left: 2rem;
  padding-inline: 1rem;
  padding-block: 5px;
  border-radius: 5px;
}
.includes-content {
  cursor: pointer;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-block: 5px;
}
.includes-content > h2.type-category-section {
  text-align: start;
  width: 100%;
  font-size: 1rem;
  padding-inline: var(--padding-align);
}
.includes-content > ul {
  list-style: disc;
  margin-block: 10px;
  font-size: small;
  width: 100%;
  padding-inline: var(--padding-align);
}
.includes-content > ul > li {
  font-weight: 700;
  margin-block: 5px;
}
.sub-items-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3px;
  /* background-color: cadetblue; */
  /* overflow: auto; */
  margin: 5px;
}
.sub-items-item > li {
  background-color: var(--btn-wsp);
  font-size: smaller;
  padding-inline: 10px;
  white-space: nowrap;
  color: white;
  border-radius: 10px;
}
.description-promotion button {
  width: 50%;
  margin-top: 10%;
  height: 5%;
  font-size: medium;
}
.price-container {
  margin-top: auto;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-style: oblique;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik";
}
.price-container > h2 {
  padding-block: 0.1rem;
  padding-inline: 0.6rem;
  border-radius: 5px;
  font-weight: 300;
}
.price-container > h1 {
  font-size: xx-large;
}
.buttom-buy {
  margin: 20px;
  width: min-content;
  font-weight: 900;
  font-size: 1.9rem;
  font-style: oblique;
  p{
    padding: 0.5rem;
  }
}
