.portfolio-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}
/* .p-c-item{
    border: 1px solid blue;
} */

.p-c-title-portfolio{
text-align: center;
height: auto;
margin: 5%;
h1{
    font-size: 15vh;
    font-weight: 400;
    color: var(--primary-b-sky);
}
}
.portfolio-list{
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(auto, 1fr); */
    justify-items: center;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
}
.f-portfolio{
height: 15%;
display: flex;
align-items: center;
justify-content: center;
}
.f-p-btn{
    background-color:var(--segondary-bwn-red);
    width: 20%;
    color: white;
}