body {
  margin: 0;
  padding: 0;
}
.bolsa-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

/* Overlay oscuro para legibilidad */
.bolsa-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

.bolsa-container > * {
  position: relative;
  z-index: 1;
}

/* Título */
.titulo-bolsa {
  width: 100%;
  height: 100px; /* ajusta según tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-bottom: 50px;
  display: block;
}
/* Card principal */
.trabajo-card {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  align-items: flex-start;
  padding: 20px;
  
}

/* Imagen */
.trabajo-imagen {
  width: 250px;
  height: 220px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

/* Info */
.trabajo-info {
  color: white;
  flex: 1;
  padding-left: 300px; /* 👈 mueve todo el contenido hacia adentro */
}

.trabajo-info h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}
/* Etiqueta */
.etiqueta {
  display: inline-block;
  background: #ff3b6b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  margin-bottom: 15px;
}
/* Lista */
.trabajo-info ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.trabajo-info li {
  margin-bottom: 8px;
  line-height: 1.5;
}

/* Botón */
.btn-postular {
  background: #22c55e;
  color: white;

  border: none;
  padding: 12px 25px;

  font-weight: bold;
  cursor: pointer;



  transition: all 0.3s ease;
}

.btn-postular:hover {
  transform: translateY(-2px);
  background: #1ea34a;
}

/* Responsive */
